.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #f5f5f5;
}
.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 3px 0px 15px #888888;
  width: 490px;
  align-self: center;
}
.title {
  color: rgba(175, 47, 47, 0.15);
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: 300;
  font-stretch: normal;
  font-size: 120px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-bottom: 0px;
  margin-top: 20px;
}
#todo {
  // width: 445px;
  flex: 1;
  align-self: center;
  height: 50px;
  outline: none;
  border: none;
  background-color: white;
  // padding: 10px;
  font-size: 24px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: inherit;
}
.btn {
  display: none;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-size: 14px;
}
#checkbox {
  border-radius: 50%;
  display: flex;
  justify-content: flex-start;
}

.header {
  display: flex;
  // flex-direction: row;
  // justify-content: center;
  // // width: 490px;
  // align-self: center;
}
.todo-body {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.editInput {
  flex-grow: 1;
  height: 15px;
  padding: 15px 0;
  &:focus + button.btn {
    display: none;
  }
  font-size: 24px;
}
.list {
  display: flex;
  flex-direction: row;
  // width: 460px;
  justify-content: space-between;
  background-color: white;
  border-top: 0.25px solid lightgray;
  border-bottom: 0.25px solid lightgray;
  padding: 0 15px;
  border-block-end: #4d4d4d;
}
.footer {
  display: flex;
  justify-content: center;
}

.btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  // width: 477px;
  width: 100%;
  border-top: 0.5px solid lightgray;
  flex-flow: nowrap;
  padding: 7px;
}

.list:hover .btn {
  display: flex;
  color: #d61919b4;
  font-size: 20px;
}
.all-btn {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  margin-left: 10px;
  &.active {
    border: 0.5px solid rgba(175, 47, 47, 0.15);
    border-radius: 10px;
  }
}

.all-btn:hover {
  border: 0.5px solid rgba(175, 47, 47, 0.15);
  border-radius: 10px;
}
.active-btn {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  margin-left: 10px;
  &.active {
    border: 0.5px solid rgba(175, 47, 47, 0.15);
    border-radius: 10px;
  }
}
.active-btn:hover {
  border: 0.5px solid rgba(175, 47, 47, 0.15);
  border-radius: 10px;
}
.drop {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  padding: 1rem;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  background-color: white;
}
.comp-btn {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  margin-left: 10px;
  &.active {
    border: 0.5px solid rgba(175, 47, 47, 0.15);
    border-radius: 10px;
  }
}
.comp-btn:hover {
  border: 0.5px solid rgba(175, 47, 47, 0.15);
  border-radius: 10px;
}

.ileft {
  display: flex;
  flex-direction: row;
}
.clr-comp {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.clr-comp:hover {
  text-decoration-line: underline;
}
.ele {
  display: flex;
  list-style-type: none;
  flex: 1 0 0;
  padding: 15px 0;
  word-break: break-all;
  max-width: 400px;
  text-align: left;
  font-size: 24px;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  padding-bottom: 20px;
  cursor: pointer;
  font-size: 24px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid green;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.wrapper {
  display: flex;
  flex-grow: 1;
  align-items: center;
}
@media (max-width: 510px) {
  .top {
    width: 100%;
  }
}
